
HlsStreamComposer.suo
HlsStreamComposer.Native/Debug/*
HlsStreamComposer/bin/*
Debug/*
HlsStreamComposer/obj/*
HlsStreamComposer.ncb
HlsStreamComposer.suo
HlsStreamComposer/Lib/HlsStreamComposer.Native.exp
HlsStreamComposer/Lib/HlsStreamComposer.Native.ilk
HlsStreamComposer/Lib/HlsStreamComposer.Native.pdb
HlsStreamComposer/Lib/HlsStreamComposer.Native.lib
HlsStreamComposer/HlsStreamComposer.csproj.user
HlsStreamComposer/bin/Debug/HlsStreamComposer.vshost.exe
HlsStreamComposer/bin/*
HlsStreamComposer/bin/Debug/HlsStreamComposer.vshost.exe
HlsStreamComposer.opensdf
HlsStreamComposer.sdf
HlsStreamComposer.Native/HlsStreamComposer.Native.vcxproj.filters
HlsStreamComposer.Native/HlsStreamComposer.Native.vcxproj.user
HlsStreamComposer/bin/Debug/HlsStreamComposer.vshost.exe
HlsStreamComposer/bin/Debug/HlsStreamComposer.vshost.exe.manifest
ipch/hlsstreamcomposer.native-65a5df8a/hlsstreamcomposer.ipch